{# templates/search/results.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search Results</h1>
    <ul>
        {% for item in results %}
            <li>
                {{ item.title }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}