{% extends 'base.html.twig' %}
  
{% block title %}Objectlink{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Objectlink</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_objectlink_index') }}"> 
                    View All Objectlinks
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Link:</b>
                <p>{{ objectlink.link }}</p>
                <b class="text-muted">Date Created:</b>
                <p>{{ objectlink.createdAt ? objectlink.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ objectlink.updatedAt ? objectlink.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}
